.app_container {
  margin-top: 20px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

@media (max-width: 1140px) {
  .container {
    width: 670px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 290px;
  }
}